<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/main.css" th:href="@{/style/main.css}" rel="stylesheet"/>
</head>
<body>

<form action="#" th:action="@{/addSavingType}" th:object="${savingType}" method="post" class="addSavingTypeForm">

    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title" th:maxlength="30" maxlength="30">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

    <label for="maxSpending">Max Spending</label>
    <input type="number" step="1" min="0" th:field="*{maxSpending}" id="maxSpending" placeholder="0" max="2147483647">
    <span th:if="${#fields.hasErrors('maxSpending')}" th:errors="*{maxSpending}"></span>

    <label for="description">Description</label>
    <input type="text" step="1" min="0" th:field="*{description}" id="description" placeholder="Describe your saving type" th:maxlength="256" maxlength="256">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>


    <input type="submit" value="Add Saving Type">
</form>

</body>
</html>