<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/main.css" th:href="@{/style/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Velkominn í Bara Spara!</h1>
<div th:switch="${savingTypes}">
    <h2 th:case="null">No Saving Types yet!</h2>
    <div th:case="*">
        <h2>SavingTypes</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Max Spending</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="savingType : ${savingTypes}">
                <td th:text="${savingType.title}">
                <td th:text="${savingType.maxSpending}"/>
                <td th:text="${savingType.description}"/>
                <td><a th:href="@{/lookAtExpense/{id}(id=${savingType.id})}">Look At</a></td>
                <td><a th:href="@{/delete/{id}(id=${savingType.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addSavingType">Add a Saving Type</a></p>
</div>
</body>
</html>